<div style="padding-left: 10px; padding-right: 10px;">
    <div style="background-color:gainsboro">
  <div class="container">
  <h3 style="color:black" ><b>Add PromoCode -->></b></h3>
  <div style="padding-left: 300px">
    <div style="width: 300px;">
    <form  #PromoForm="ngForm" >

      

<table class="table table-striped table table-hover">
    <tr>
            <td>Promo Code Name</td><td>
                <input type="text" name="name" id="pname" [(ngModel)]="promocode"#namecontrol="ngModel" required/></td>
                <span *ngIf="namecontrol.touched && namecontrol.invalid">Promo Code Name  should not be empty</span>
    </tr>  
    <tr>
        <td>Start Date</td><td>
            <input type="date" name="name" id="sdate" [(ngModel)]="startdate"#sdatecontrol="ngModel" required/></td>
            <span *ngIf="sdatecontrol.touched && sdatecontrol.invalid">StartDate should not be empty</span>
</tr>  
<tr>
    <td>End Date</td><td>
        <input type="date" name="name" id="edate" [(ngModel)]="enddate"#edatecontrol="ngModel" required/></td>
        <span *ngIf="edatecontrol.touched && edatecontrol.invalid">EndDate  should not be empty</span>
</tr>  
<tr>
    <td>Amount</td><td>
        <input type="number" name="name" id="amt" [(ngModel)]="amount"#amtcontrol="ngModel" required/></td>
        <span *ngIf="amtcontrol.touched && amtcontrol.invalid">Amount  should not be empty</span>
</tr>  

    <tr>
        <input class="btn btn-primary" type="submit" value="ADD" (click)="save();change()" [disabled]="PromoForm.invalid"/>
    </tr>
</table>
</form>
<table class="table table-striped table table-hover">
        <tr *ngIf="ch">Promo Code Added Successfully</tr>
</table>
<button type="button" class="btn btn-secondary" (click)="backtopromoCode()" >Back To Promocode</button>
